@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 0;
    }

    50% {
        opacity: 1;
        
        scale: 1;
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0.5;
        transform: translateX(300px);
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
        opacity: 0.5;
        transform: translateX(-300px);
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }
}